@model IndexViewModel

@{
    Layout = "~/Views/Shared/_HatLayout.cshtml";
}

@section styles {
    <link href="@Url.Content("~/css/index.css")" rel="stylesheet">
}

<section class="content">
    <ul class="boosts-list">
        @foreach (var boost in Model.Boosts)
        {
            var userBoost = Model.User.UserBoosts.FirstOrDefault(ub => ub.BoostId == boost.Id);

            var price = userBoost?.CurrentPrice ?? boost.Price;
            var quantity = userBoost?.Quantity ?? 0;

            <li class="boost">
                <div>
                    <span class="boost-id" hidden>@boost.Id</span>
                    <h4 class="boost-title">@boost.Title</h4>
                    <img src="data:image/png;base64, @Convert.ToBase64String(boost.Image)" />
                </div>
                <div class="description">
                    <ul class="boost-description-list">
                        <li class="boost-description-item">
                            <h5 class="boost-price-string">Цена: <span class="boost-price">@price</span></h5>
                        </li>
                        <li class="boost-description-item">
                            @if (boost.IsAuto)
                            {
                                <h5>Доход в секунду: <span>@boost.Profit</span></h5>
                            }
                            else
                            {
                                <h5>Доход за удар: <span>@boost.Profit</span></h5>
                            }
                        </li>
                        <li class="boost-description-item">
                            <h5>Куплено: <span class="boost-quantity">@quantity</span></h5>
                        </li>
                    </ul>
                </div>
                <button class="boost-button">Купить</button>
            </li>
        }
    </ul>
    <div class="container">
        <ul class="info">
            <li class="info-item score">
                <h4>Текущий счёт:</h4>
                <p id="current_score">@Model.User.CurrentScore</p>
            </li>
            <li class="info-item" hidden>
                <h4>За все время добыто:</h4>
                <p id="record_score">@Model.User.RecordScore</p>
            </li>
            <li class="info-item">
                <h4>Доход за удар:</h4>
                <p id="profit_per_click">@Model.User.ProfitPerClick</p>
            </li>
            <li class="info-item">
                <h4>Доход в секунду:</h4>
                <p id="profit_per_second">@Model.User.ProfitPerSecond</p>
            </li>
        </ul>
        <div id="clickitem" class="click-item">
            <img src="~/cave.png" />
        </div>
    </div>
</section>

@section scripts {
    <script src="~/js/index.js"></script>
}